/* Navbar font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2c3639;
  width: 100vw;
  height: 100vh;
}
.navbar-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vh;
  background-color: #2c3639;
}
.header-sub-parent {
  position: fixed;
  height: 12%;
  width: 100%;
  background-color: rgba(240, 230, 255, 0.3);
  backdrop-filter: blur(40px);
  z-index: 5;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.header-third-sub-parent {
  display: flex;
  justify-content: center;
  background-color: #2c3639;
  width: 100%;
  height: 100%;
}
/* nav-first-box */
.-navlogo {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 78, 79, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 0px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
}
#nav-logo {
  width: auto;
  height: 100%;
}
.-navlogo > a {
  color: #dcd7c9;
  font-size: 24px;
  font-family: "Quicksand";
  text-decoration: none;
}
.-navlogo > a > span {
  color: burlywood;
  font-weight: 800;
  font-size: 30px;
}
/* nav-third-box */
.nav-searchbar {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 78, 79, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 10px 0px;
}
.nav-searchbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 6%;
  align-items: center;
}
#search-bar {
  width: 45%;
  height: 32%;
  border: none;
  border-radius: 30px 0px 0px 30px;
  padding-left: 6%;
  padding-right: 3%;
  outline: none;
  font-size: 15px;
}
#search-bar:focus {
  background-color: #a27b5c;
  color: #ffff;
}
#search-btn {
  width: 15%;
  height: 32%;
  border: none;
  display: block;
  border-radius: 0px 30px 30px 0px;
  background-color: #a27b5c;
  color: #dcd7c9;
  cursor: pointer;
}
#search-btn:hover {
  color: #ffff;
}
/* nav 2nd - box */
.navbar-components {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  background-color: rgba(63, 78, 79, 0.6);
  backdrop-filter: blur(30px);
}
.navbar-components li {
  list-style: none;
}
.navbar-components li a {
  text-decoration: none;
  color: #dcd7c9;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}
.navbar-components li a:hover {
  text-decoration: underline #a27b5c;
  color: #ffff;
}
/* Banner Section */
.banner-section {
  width: 100%;
  background-color: #2c3639;
  display: flex;
  justify-content: center;
}

.banner-pic-section {
  margin-top: 4%;
  width: 85%;
  height: 60vh;
  border-radius: 10px;
  background-color: rgba(10, 10, 10, 0.3);
  box-shadow: 5px 5px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#banner-coffee-cup {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
#banner-coffee-cup:hover {
  width: 100%;
  height: 100%;
  margin-top: -2%;
}
.coffee-beans {
  width: 60%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.coffee-beans:hover {
  margin-top: -2%;
}
.banner-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif;
  color: #dcd7c9;
  font-size: 110%;
  margin-top: 10%;
}
.banner-text #coffee-text,
#tea-text {
  font-size: 140%;
  font-weight: 200;
}
#shop-now-btn {
  width: 28%;
  height: 11%;
  border: 1px solid #a27b5c;
  background-color: rgba(10, 10, 10, 0.3);
  color: #dcd7c9;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#shop-now-btn:hover {
  background-color: #a27b5c;
  color: #dcd7c9;
  box-shadow: none;
}
